<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no">
    <link href="/m-css-st.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://code.jquery.com/jquery-3.6.3.js"></script>
</head>

<body>
<div>
    <div class="r-card">
        <div class="r-top">

            <!-- <div class="fs80" style="">
                    <a href="" class="grey55">
                        <img src="/imgs/P_menu.svg" style="width:100%; height:7rem;">
                    </a>
            </div> -->

            <div class="mt1" style="width:50%;">
                <a href="" class="grey55">
                    <img src="/imgs/P_logo.svg" style="width:100%;">
                </a>
            </div>

            <!-- <div class="fs80">
                <a href="" class="grey55">
                    <img src="/imgs/P_search.svg" style="width:100%; height:88px;">
                </a>
            </div> -->
        </div>

        <div class="search-container">
            <!-- 검색창 -->
            <form id="searchForm" onsubmit="executeSearch(); return false;" class="formform" >
                <input type="text" id="searchInput" placeholder="레시피를 검색 해보세요" class="searchst" oninput="removeSpecialCharacters()">
                <button type="submit" class="search-button"><i class="fas fa-search"></i></button>
            </form>
        </div>

        <!-- 검색 결과 팝업 -->
        <div id="searchPopup" class="search-popup" onclick="closePopup(event)">
            <div class="search-results" id="searchResults">
                <!-- 여기에 검색 결과가 동적으로 표시됩니다. -->
            </div>
        </div>

        <script>
            function removeSpecialCharacters() {
                const searchInput = document.getElementById('searchInput');
                searchInput.value = searchInput.value.replace(/[^\u3131-\u314e|\u314f-\u3163|\uac00-\ud7a3]/gi, '');

            }
            function executeSearch() {

                let searchInput = document.getElementById('searchInput').value;
                searchInput = searchInput.replace(/[^a-zA-Z0-9가-힣\s]/g, '');
                const searchParam = isNaN(searchInput) ? { 이름: searchInput } : { 항목일련번호: searchInput };

                $.ajax({
                    url: "/search",
                    type: "GET",
                    data: searchParam,
                    success: function(data) {
                        var searchResults = "<h3>검색 결과</h3>";
                        if (data.length === 0) {
                            searchResults += "<p>검색 결과가 없습니다.</p>";
                        } else {
                            data.forEach(function(item) {
                                searchResults += "<p> 이름: " + item.이름 + "</p>";
                                searchResults += "<a href='/recipe/" + item.항목일련번호 + "'>레시피 보기</a><br>";
                            });
                        }
                        document.getElementById('searchResults').innerHTML = searchResults;
                        document.getElementById('searchPopup').style.right = '0';
                    },
                    error: function() {
                        document.getElementById('searchResults').innerHTML = "<p>검색 중 오류가 발생했습니다.</p>";
                    }
                });
            }

            function closePopup(event) {
                if (event.target.id === 'searchPopup') {
                    document.getElementById('searchPopup').style.right = '-300px';
                }
            }
        </script>

        <div>
            <img src="/imgs/P_mainimg.png" style="width:100%; border-radius:1rem;">
        </div>
        <div class="fs24 tac mt2 mb2 lsm10 grey77">
            Category
        </div>
        <div class="r-category-area mb2">
            <a href="" class="category-link" data-category="미인차" style="text-decoration-line: none;">
                <div class="r-category-card r-c-bg1o">
                    <img src="/imgs/P_category_1.jpg" style="width:100%; ">
                    미인차
                </div>
            </a>
            <a href="" class="category-link" data-category="회춘차" style="text-decoration-line: none;">
                <div class="r-category-card r-c-bg2o">
                    <img src="/imgs/P_category_2.jpg" style="width:100%; ">
                    회춘차
                </div>
            </a>
            <a href="" class="category-link" data-category="원기회복차" style="text-decoration-line: none;">
                <div class="r-category-card r-c-bg3o">
                    <img src="/imgs/P_category_3.jpg" style="width:100%; ">
                    원기회복차
                </div>
            </a>
            <a href="" class="category-link" data-category="면역차" style="text-decoration-line: none;">
                <div class="r-category-card r-c-bg4o">
                    <img src="/imgs/P_category_4.jpg" style="width:100%; ">
                    면역차
                </div>
            </a>
            <a href="" class="category-link" data-category="항염차" style="text-decoration-line: none;">
                <div class="r-category-card r-c-bg5o">
                    <img src="/imgs/P_category_5.jpg" style="width:100%; ">
                    항염차
                </div>
            </a>
            <a href="" style="text-decoration-line: none;" class="category-link" data-category="위장차">
                <div class="r-category-card r-c-bg6o">
                    <img src="/imgs/P_category_6.jpg" style="width:100%; ">
                    위장차
                </div>
            </a>
            <a href="" style="text-decoration-line: none;" class="category-link" data-category="안정차">
                <div class="r-category-card r-c-bg7o">
                    <img src="/imgs/P_category_7.jpg" style="width:100%; ">
                    안정차
                </div>
            </a>
            <a href="" style="text-decoration-line: none;" class="category-link" data-category="환절기차">
                <div class="r-category-card r-c-bg8o" >
                    <img src="/imgs/P_category_8.jpg" style="width:100%; ">
                    환절기차
                </div>
            </a>
            <a href="" style="text-decoration-line: none;" class="category-link" data-category="눈맑차">
                <div class="r-category-card r-c-bg9o">
                    <img src="/imgs/P_category_9.jpg" style="width:100%; ">
                    눈맑차
                </div>
            </a>
            <a href="" style="text-decoration-line: none;" class="category-link" data-category="매일차">
                <div class="r-category-card r-c-bg10o">
                    <img src="/imgs/P_category_10.jpg" style="width:100%; ">
                    매일차
                </div>
            </a>
            <a href="" style="text-decoration-line: none;" class="category-link" data-category="약손차">
                <div class="r-category-card r-c-bg11o">
                    <img src="/imgs/P_category_11.jpg" style="width:100%; ">
                    약손차
                </div>
            </a>
            <a href="" style="text-decoration-line: none;" class="category-link" data-category="항암차">
                <div class="r-category-card r-c-bg12o">
                    <img src="/imgs/P_category_12.jpg" style="width:100%; ">
                    항암차
                </div>
            </a>
            <a href="" style="text-decoration-line: none;" class="category-link" data-category="혈당차">
                <div class="r-category-card r-c-bg13o">
                    <img src="/imgs/P_category_13.jpg" style="width:100%; ">
                    혈당차
                </div>
            </a>
            <a href="" style="text-decoration-line: none;" class="category-link" data-category="혈압차">
                <div class="r-category-card r-c-bg14o">
                    <img src="/imgs/P_category_14.jpg" style="width:100%; ">
                    혈압차
                </div>
            </a>
            <a href="" style="text-decoration-line: none;" class="category-link" data-category="심혈관차">
                <div class="r-category-card r-c-bg15o">
                    <img src="/imgs/P_category_15.jpg" style="width:100%; ">
                    심혈관차
                </div>
            </a>
            <a href="" style="text-decoration-line: none;" class="category-link" data-category="갑상선차">
                <div class="r-category-card r-c-bg16o">
                    <img src="/imgs/P_category_16.jpg" style="width:100%; ">
                    갑상선차
                </div>
            </a>
            <a href="" style="text-decoration-line: none;" class="category-link" data-category="관절염차">
                <div class="r-category-card r-c-bg17o">
                    <img src="/imgs/P_category_17.jpg" style="width:100%; ">
                    관절염차
                </div>
            </a>
            <a href="" style="text-decoration-line: none;" class="category-link" data-category="부인차">
                <div class="r-category-card r-c-bg18o">
                    <img src="/imgs/P_category_18.jpg" style="width:100%; ">
                    부인차
                </div>
            </a>
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('.category-link').on('click', function(e) {
            e.preventDefault();
            const category = $(this).data('category');
            const encodedCategory = encodeURIComponent(category);

            $.ajax({
                url: '/category',
                type: 'GET',
                data: { 카테고리: encodedCategory },
                success: function(data) {
                    let popupContent = "";
                    if (Array.isArray(data)) { // 데이터가 배열인지 확인
                        data.forEach(function(item) {
                            popupContent += '<p>' + item.name + '</p>'; // 배열일 경우 처리
                        });
                    } else { // 배열이 아닌 경우 처리
                        popupContent += '<p>' + data.name + '</p>'; // 예시로 데이터 객체의 name 속성을 사용
                    }
                    // 현재 창의 위치를 변경하여 popup.html로 이동
                    window.location.href = `/popup?category=${encodedCategory}`;
                },
            });
        });
    });
</script>
</body>
</html>