<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=no">
    <link href="/m-css-st.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.3.js"></script>
</head>

<body>
<div>
    <div class="r-card tac">
        <div class="r-nevi-icon">
            <div><a th:href="@{'/recipe/' + ${base.항목일련번호 - 1}}" class="fs32 grey55"><</a></div>
            <div id="currentItemNumber" class="fs36 lsm25 fw1 mt2 grey55" th:text="${base.항목일련번호}"></div>
            <div><a th:href="@{'/recipe/' + ${base.항목일련번호 + 1}}" class="fs32 grey55">></a></div>
        </div>
        <div class="ulm"></div>
        <div>
            <div id="category" class="fs24 lsm10 mt1 grey77" th:text="${base.카테고리}"></div> <!-- 카테고리명 -->
            <div id="recipeName" class="fs48 lsm25 mtm05 mb1" th:text="${base.이름}"></div> <!-- 레시피명 -->
        </div>
        <div id="effects" class="r-effect">
            <div th:each="effect : ${effect}" class="r-effect-round r-c-bg1">
                <a href="#;" onclick="openPopup('#pop_txt1')" style="color:white;" th:text="${effect.효과}"></a>
            </div>
        </div>
        <div class="containerb">
            <div class="layer_pop_txt" id="pop_txt1">
                <div class="pop_content">
                    <div class="title"></div>
                    <ul id="effectsList" class="popup-list grey55">
                        <li th:each="effect : ${effect}" th:text="${effect.효과}">항목</li>
                    </ul>
                    <div><a class="close_btn" href="#;" onclick="closePopup('#pop_txt1')">닫기</a></div>
                </div>
            </div>
        </div>
        <div class="fw5 fs24 grey77 mt2"> 재료</div>
        <div class="ulm"></div>
        <div id="ingredients" th:each="ingredient: ${ingredient}" class="r-icon lsm10 mt05">
            <div class="r-icond">
                <img th:src="@{'/imgs/' + ${ingredient.목록아이콘}}">
            </div>
            <div class="tal grey55" th:text="${ingredient.재료목록}"></div>
        </div>

        <div id="mainImage" class="r-image">
            <img th:src="@{'/imgs/' + ${base.메인이미지}}">
        </div>

        <div class="fw5 fs24 grey77">만드는 순서</div>
        <div class="ulm"></div>
        <div id="recipeStepsContainer" th:each="recipe : ${recipe}" class="tal grey55 pl2 pr2">
            <span th:text="${recipe.조리순서}"></span> <span th:text="${recipe.조리법}"></span>
        </div>
        <div class="ulm"></div>
        <a href="/" class="grey55">
            <div class="r-main-btn mt2 mb2">
                처음으로
            </div>
        </a>

    </div>
</div>
</body>
</html>
