<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>팝업창</title>

  <link rel="stylesheet" type="text/css" href="/popup.css">
  <script src="https://code.jquery.com/jquery-3.6.3.js"></script> 
</head>
<body>
  <div class="container">
    <div id="category-data">
      <p class="pop_button"><a href="#" onclick="openPopup('#pop_txt1')">팝업창 1</a></p>
      <p class="pop_button"><a href="#" onclick="openPopup('#pop_txt2')">팝업창 2</a></p>

      <div class="layer_pop_txt" id="pop_txt1">
        <div class="pop_content">
          <p>팝업창1<br>팝업창1<br>팝업창1<br>팝업창1<br>팝업창1<br></p>
          <a class="close_btn" href="#;" onclick="closePopup('#pop_txt1')">X</a>
        </div>
      </div>

      <div class="layer_pop_txt" id="pop_txt2">
        <div class="pop_content">
          <p>팝업창2<br>팝업창2<br>팝업창2<br>팝업창2<br>팝업창2<br></p>
          <a class="close_btn" href="#;" onclick="closePopup('#pop_txt2')">X</a>
        </div>
      </div>
    </div>
  </div>
</body>
<script>
  $(document).ready(function() {
    // URL에서 카테고리 데이터를 가져오기
    const urlParams = new URLSearchParams(window.location.search);
    const category = urlParams.get('category');

    // AJAX 요청을 통해 서버에서 데이터를 가져옴
    $.ajax({
      url: '/category',
      type: 'GET',
      data: { 카테고리: category },
      success: function(data) {
        let content = "";
        if (Array.isArray(data)) {
          data.forEach(function(item, index) {
            console.log("항목일련번호:", index + 1, "항목이름:", item.이름);
            content += `
                <p class="pop_button">
                  <a href="#" onclick="openPopup('#pop_txt1', '${item.이름}')"> ${item.이름}</a>
                </p>
              `;
          });
        } else {
          content = "<p>데이터를 불러오는 중 오류가 발생했습니다.</p>";
        }
        $('#category-data').html(content);
      },
      error: function() {
        $('#category-data').html("<p>데이터를 불러오는 중 오류가 발생했습니다.</p>");
      }
    });
  });
</script>
<script>

   //팝업창 열기
   function openPopup(obj){
        $(".layer_pop_txt").hide();
        $(obj).show();
    }

    //팝업창 닫기
    function closePopup(obj){
         $(obj).hide();
    }
 
</script>
</html>