<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.recipe.mapper.RecipeMapper">
    <select id="findBase" parameterType="int"  resultType="com.example.recipe.dto.Base">
        SELECT 항목일련번호, 카테고리, 이름, 메인이미지 FROM 베이스 WHERE 항목일련번호 = #{항목일련번호};
    </select>
    <select id="findEffects" parameterType="int"  resultType="com.example.recipe.dto.Effect">
        SELECT 항목일련번호,효과 FROM 효과 where 항목일련번호 = #{항목일련번호};
    </select>
    <select id="findIngredients" parameterType="int"  resultType="com.example.recipe.dto.Ingredient">
        SELECT 항목일련번호,재료순서,재료목록,목록아이콘 FROM 재료 where 항목일련번호 = #{항목일련번호} ORDER BY 재료순서;
    </select>
    <select id="findRecipes" parameterType="int"  resultType="com.example.recipe.dto.Recipe">
        SELECT 항목일련번호,조리순서,조리법 FROM 조리법 where 항목일련번호 = #{항목일련번호} ORDER BY 조리순서;
    </select>
    <select id="findSearchName" parameterType="map" resultType="com.example.recipe.dto.Base">
        SELECT * FROM 베이스
        WHERE 이름 Like CONCAT('%', #{이름}, '%');
    </select>
    <select id="findCategory" resultType="com.example.recipe.dto.Base">
        SELECT 항목일련번호, 이름
        FROM 베이스
        WHERE 카테고리 LIKE CONCAT('%', #{카테고리}, '%')
    </select>
</mapper>
